button {
    text-align: left;
    color: var(--light-white);
}

button img {
    padding: 2px 2px 2px 0px;
    margin-right: 20px;
}

button {
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
}

.red {
    background: var(--line);
    border: solid 2px var(--line);
    padding: 10px 10px 10px 0px;

}

.red img {
    border-right: solid 2px var(--primary-red);
}

.red:hover {
    transition: 0.2s;
    background: var(--primary-red);
    border: solid 2px var(--primary-red);
}

.blue img {
    border-right: solid 2px var(--secondary-blue-30);
}

.blue {

    /* background: none; */
    background: var(--secondary-blue-90);
    padding: 10px 10px 10px 0px;
    border: solid 2px var(--secondary-blue-90);
    /* border: solid 2px var(--secondary-blue-30); */
}

.buttons_confirmes .blue {
    background: var(--secondary-blue-60);
}

.blue:hover {
    transition: 0.2s;
    background: var(--secondary-blue-30);
    border: solid 2px var(--secondary-blue-30);
}