.container-layout {
    flex-direction: column;
    display: grid;
    grid-template-columns: 125px calc(100% - 225px - 5%) 5%;
    grid-template-rows: 90px calc(100% - 290px) 90px;
    column-gap: 50px;
    row-gap: 55px;
}