.container-header {
    grid-column: 1 / 3;
    justify-content: space-around;
    display: flex;
    width: calc(100% - 50px);
    height: 90px;
    border-bottom: solid 1px var(--light-white);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.info {
    display: flex;
    align-items: center;
}

.info img {
    margin: 5px;
}

.info p {
    font-family: 'Rajdhani';
    font-weight: 500;
    color: var(--light-white);
}

.info p span {
    font-weight: 700;
    margin-right: 10px;
}

.dataset {
    width: 330px;
    display: flex;
    justify-content: space-between;
}

.dataset li {
    height: 30px;
    align-items: center;
    align-self: center;
    cursor: pointer;
}

.dataset li p {
    font-size: 24px;
    color: var(--heading);
}

.dataset img {
    width: 35px;
    color: var(--heading);
}

.dataset .submenu_container {
    height: 45px;
}

.submenu {
    display: none;
}

.submenu_container:hover>ul {
    display: block;
}

.dataset .submenu>li {
    margin: 0px 0px 0px 0px;
    color: var(--secondary-blue-50);
}

.submenu {
    background: var(--light-white);
    width: 125px;
    border-radius: 3px;
    position: absolute;
    right: 7.7vw;
}

.submenu a {
    color: var(--secondary-blue-50);
    font-family: 'Inter';
}

.dataset .submenu>li {
    display: flex;
    justify-content: center;
    border-radius: 0 0;
    width: auto;
    padding: 25px 20px;
}

.dataset .submenu>li:nth-child(2) {
    border-top: solid 2px var(--secondary-blue-50);
}

.submenu li:hover:first-child {
    background: var(--secondary-blue-50);
    border-radius: 2px 2px 0 0;
    color: var(--light-white);
}

.submenu li:hover:last-child {
    background: var(--secondary-blue-50);
    border-radius: 0 0 1px 1px;
}

.submenu li:hover a {
    color: var(--light-white);
}

.dataset .icon_user {
    width: 45px;
    height: 45px;
}

@media (max-width: 1110px) {
    .container-header {
        width: calc(100% - 25px);
    }
}

@media(max-width: 600px) {
    .container-header {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        width: 100%;
    }
}