.container_left {
    grid-row: 1 / 3;
    width: 680px;
    border-radius: 8px;
    background: linear-gradient(180deg, #1D2766 0%, rgba(23, 31, 82, 0) 100%);
    padding: 40px 30px;
    display: block;
}

.container_left .top {
    padding: 15px 0px 25px;
    border-bottom: solid 1px var(--highlight);
}

.container_left .top p {
    color: var(--heading);
    font-weight: 300;
}

.container_left .top h1 {
    text-align: left;
}

.bottom h2 {
    display: flex;
}

.container_left .bottom p {
    display: flex;
    justify-content: space-between;
    color: var(--heading);
}

.container_left .bottom p:first-child {
    margin: 35px auto;
}

.container_left .bottom p>span {
    font-size: 0.9rem;
    font-weight: 300;
}

.container_left .bottom .container_pelada {
    display: flex;
}

.photo_pelada {
    width: 100px;
    height: 105px;
    background: var(--primary-red);
    border-radius: 4px;
    margin-right: 20px;
}

.info_pelada {
    width: calc(100% - 120px);
}

.info_pelada h2,
p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_pelada p,
span {
    font-weight: 300;
}

.info_pelada p span {
    align-items: center;
    display: flex;
}