.container_center {
    padding: 65px 60px;
    max-width: 900px;
    width: 90%;
    justify-self: center;
    height: fit-content;
    grid-column: 2/3;
    grid-row: 2/3;
    background: linear-gradient(180deg, #1D2766 0%, rgba(23, 31, 82, 0) 100%);
    border-radius: 8px;
    display: block;
}

.container_center p {
    color: var(--heading);
    justify-content: left;
}

.container_center p span {
    font-family: "Rajdhani";
    margin: auto 10px;
}

.cc_relatorios {
    margin: 40px 65px;
}

.cc_relatorios h1 {
    text-align: left;
}

.cc_buttons {
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;
}

.cc_buttons button {
    width: 200px;
}